<div class="page-header">
  <h1>
    Upcoming Elections
  </h1>

  <h3>Look Up Your Polling Place</h3>
  <h4>Note: only works if you are eligible to vote in one of the elections listed below</h4>

  <form action="/my_elections" class="form-horizontal">
    <div>
      <label class="control-label" for="the_address">Enter your address (street, city, zip, state):</label>
      <input class="form-control" type="text" name="user_street_address" id="the_address" placeholder="enter address here">
    </div>

    <div class="btn-group-vertical">
      <button class="btn btn-primary">Lookup Polling Place</button>
    </div>

    <h3>Upcoming Elections Info</h3>

    <div class="row">
      <div class="col-md-12">

        <table class="table table-striped table-hover">
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Election ID</th>
          </tr>

          <% @upelections.each do |the_election| %>
          <tr>
            <td><%= the_election["name"] %></td>
            <td>  <%= the_election["electionDay"] %></td>
            <td><%= the_election["id"] %></td>
          </tr>
          <% end %>
        </table>
        <!-- <= paginate @elections, theme: 'twitter-bootstrap-4' %> -->
      </div>
